# Build
build/
out/

# IDE
.vscode/
.idea/
.cache/
*.swp

# Compiled
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.dll
*.pdb

# Bazel
bazel-*
MODULE.bazel.lock

# Tools
*.jar

# Logs 
*.log
/tmp/vsomeip*.log

# OS
.DS_Store
Thumbs.db
